.kazuha {
  width: 100vw;
  border: solid lavender;
}
header{
  margin: auto;
}

section{
  width: 50%;
}

.event-title{
  text-align: center;
  margin: 0 auto;
}

body{
  transform: translateX(0%);
  min-height: calc(100vh - 100px);
  width: 100vw;
}

hr{
  width: 100vw;
  display: inline-block;
}

.listing{
  display: flex;
  flex-direction: row;
  text-align: center;
}
ul{
  list-style-type: none;
}
